backports.entry-points-selectable==1.1.1
certifi==2021.10.8
charset-normalizer==2.0.7
click==8.0.3
colorama==0.4.4
coverage==6.1.2
decorator==5.1.0
distlib==0.3.3
filelock==3.4.0
Flask==2.0.2
Flask-SQLAlchemy==2.5.1
greenlet==1.1.2
idna==3.3
importlib-metadata==4.8.2
itsdangerous==2.0.1
Jinja2==3.0.3
jsonpath-rw==1.4.0
jsonpath-rw-ext==1.2.2
MarkupSafe==2.0.1
pbr==5.8.0
platformdirs==2.4.0
pluggy==0.13.1
ply==3.11
py==1.11.0
requests==2.26.0
robotframework==4.1.2
robotframework-jsonlibrary==0.3.1
robotframework-requests==0.9.2
six==1.16.0
SQLAlchemy==1.4.27
tox==3.0.0
typing-extensions==4.0.0
urllib3==1.26.7
virtualenv==20.10.0
Werkzeug==2.0.2
zipp==3.6.0
